body {
  width: fit-content;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}
#inscription {
  background: linear-gradient(to bottom, #ffcccc 0%, #ccffcc 33%, #ccccff 66%);
}

legend {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #2600ff;
}

legend::before {
  width: 18px;
  height: 18px;
}

legend::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

legend::before,
legend::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: red;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

input[type="text"],
input[type="radio"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="checkbox"],
input[type="submit"] {
  margin-bottom: 10px;
}

input[type="number"],
input[type="email"],
input[type="text"] {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}
.bouton,
.DaccordBouton {
  width: fit-content;
  display: flex;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.DaccordBouton{
  margin: 0px;
  background-color: #ffdccc;
  color: black;
  font-size: larger;

}
.DaccordBouton:hover,
.bouton:hover {
  background-color: #ed8b8b;
  color: #ffffff;

}

label {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 5px;
}
#coordonnees {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.card {
  display: none;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 1em 1.2em;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #f8b7e1, #a7d1d9);
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
#SectionTarifReduit{
  display: none;
}
#SectionTarifNormal, #coordonnees, #options{
  display: none;
}
#coordonnees{
  flex-direction: column;
}
#alertOption{
  font-size: large;
  color: red;
  font-weight: bolder;
}